workflows/n8n_wpp_gcalendar.json
{
  "name": "n8n_wpp_gcalendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -20,
        -60
      ],
      "id": "72a2d61f-6f21-4677-abc9-16dbd014dcfe",
      "name": "Webhook",
      "webhookId": "2ef0f9ae-8ab1-4cfe-8778-22578ae35602"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44926f35-a77b-47b2-9e5c-ea65a175bc80",
              "name": "=session",
              "value": "={{ $json.body.session }}",
              "type": "string"
            },
            {
              "id": "89a0ef86-a969-42d4-9b9e-05ce254f9a01",
              "name": "chatId",
              "value": "={{ $json.body.payload.from }}",
              "type": "string"
            },
            {
              "id": "e52f8f0c-8e05-43a2-9993-b2d4b4c6f60b",
              "name": "pushName",
              "value": "={{ $json.body.payload._data.Info.PushName }}",
              "type": "string"
            },
            {
              "id": "1233b05b-d098-4a12-94f6-0b252567a190",
              "name": "payload_id",
              "value": "={{ $json.body.payload.id }}",
              "type": "string"
            },
            {
              "id": "bf50a9d1-bdd1-4054-8363-f54b7d4ae77b",
              "name": "event",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "66454c14-b653-4126-a942-c78e82310e89",
              "name": "message",
              "value": "={{ $json.body.payload.body }}",
              "type": "string"
            },
            {
              "id": "82f4a2c4-3ac3-4281-918e-763e27f6def5",
              "name": "fromMe",
              "value": "={{ $json.body.payload.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -60
      ],
      "id": "55717c5a-a2d9-4f7a-96b9-bf53a607473d",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6244f252-850a-414c-b116-d2a8a50cf99d"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        -60
      ],
      "id": "a2630bdd-abc8-47ae-aa40-2aee9e7ac66a",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é uma esteticista especializada em manicure e pedicure"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        640,
        -60
      ],
      "id": "4c619e51-1184-4ab3-9698-08779d099187",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        620,
        160
      ],
      "id": "deb264bc-a89a-4a44-b483-6ef9d879038b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gGIj6mJQyJ0n6M1s",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.chatId }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        780,
        160
      ],
      "id": "52f66e61-148f-414e-9fbb-8e304a1c8a6f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "0C0cYqa7es34T7N1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Seen",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "messageId": "={{ $('Dados').item.json.payload_id }}",
        "participant": "",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1000,
        -60
      ],
      "id": "4d7e0d45-5bbb-4881-bb15-2e2b66d81fea",
      "name": "WAHA",
      "credentials": {
        "wahaApi": {
          "id": "ZC17E7xCKgQl40rV",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Dados').item.json.session }}",
        "chatId": "={{ $('Dados').item.json.chatId }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1220,
        -60
      ],
      "id": "de64ad99-b21f-47f3-986d-f40439e5a2cc",
      "name": "WAHA1",
      "credentials": {
        "wahaApi": {
          "id": "ZC17E7xCKgQl40rV",
          "name": "WAHA account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "WAHA/2025.6.1",
            "x-webhook-request-id": "01JXE0WVV78BXJ6VM4N3N3P3N7",
            "x-webhook-timestamp": "1749596139367",
            "content-length": "1973",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "host.docker.internal:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "id": "evt_01jxe0wvv6mekdr9ge08st1xe6",
            "timestamp": 1749596139367,
            "event": "message",
            "session": "default",
            "metadata": {},
            "me": {
              "id": "5516999999999@c.us",
              "pushName": "Jean Scapim",
              "jid": "5516999999999:25@s.whatsapp.net"
            },
            "payload": {
              "id": "false_5516999999999@c.us_F754C8A9676D8E164AA0534FBAE85F58",
              "timestamp": 1749596139,
              "from": "5516999999999@c.us",
              "fromMe": false,
              "source": "app",
              "body": "Oi",
              "to": null,
              "participant": null,
              "hasMedia": false,
              "media": null,
              "ack": 2,
              "ackName": "DEVICE",
              "replyTo": null,
              "_data": {
                "Info": {
                  "Chat": "5516999999999@s.whatsapp.net",
                  "Sender": "5516999999999@s.whatsapp.net",
                  "IsFromMe": false,
                  "IsGroup": false,
                  "AddressingMode": "",
                  "SenderAlt": "275814327259211@lid",
                  "RecipientAlt": "",
                  "BroadcastListOwner": "",
                  "ID": "F754C8A9676D8E164AA0534FBAE85F58",
                  "ServerID": 0,
                  "Type": "text",
                  "PushName": "Luciana",
                  "Timestamp": "2025-06-10T22:55:39Z",
                  "Category": "",
                  "Multicast": false,
                  "MediaType": "",
                  "Edit": "",
                  "MsgBotInfo": {
                    "EditType": "",
                    "EditTargetID": "",
                    "EditSenderTimestampMS": "0001-01-01T00:00:00Z"
                  },
                  "MsgMetaInfo": {
                    "TargetID": "",
                    "TargetSender": "",
                    "DeprecatedLIDSession": null,
                    "ThreadMessageID": "",
                    "ThreadMessageSenderJID": ""
                  },
                  "VerifiedName": null,
                  "DeviceSentMeta": null
                },
                "Message": {
                  "conversation": "Oi",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "recipientKeyHash": "Jvv0L/ZpQSyY8w==",
                      "recipientTimestamp": 1749591429
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "H5YL7RKTz7AqeNjw+fD7ZhxHjfs+RjM5EnlYVMtXr+g="
                  }
                },
                "IsEphemeral": false,
                "IsViewOnce": false,
                "IsViewOnceV2": false,
                "IsViewOnceV2Extension": false,
                "IsDocumentWithCaption": false,
                "IsLottieSticker": false,
                "IsEdit": false,
                "SourceWebMsg": null,
                "UnavailableRequestID": "",
                "RetryCount": 0,
                "NewsletterMeta": null,
                "RawMessage": {
                  "conversation": "Oi",
                  "messageContextInfo": {
                    "deviceListMetadata": {
                      "recipientKeyHash": "Jvv0L/ZpQSyY8w==",
                      "recipientTimestamp": 1749591429
                    },
                    "deviceListMetadataVersion": 2,
                    "messageSecret": "H5YL7RKTz7AqeNjw+fD7ZhxHjfs+RjM5EnlYVMtXr+g="
                  }
                },
                "Status": 3
              }
            },
            "environment": {
              "version": "2025.6.1",
              "engine": "GOWS",
              "tier": "CORE",
              "browser": null
            }
          },
          "webhookUrl": "http://host.docker.internal:5678/webhook-test/webhook",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WAHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAHA": {
      "main": [
        [
          {
            "node": "WAHA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc8d8574-be1f-42ec-bc54-50e8dc7281b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "12f89548074c9dc3ed3e9e16a2f6c6082e1299b5951d9f18957468cb7c6defa7"
  },
  "id": "x9r0JgQn0NaTr2ht",
  "tags": []
}